@page
@model WebApplication1.Pages.luuTamGiacModel

<form method="POST">
    <label>Nhập X1</label><br />
    <input type="text" name="x1" value="" /><br />
    <label>Nhập Y1</label><br />
    <input type="text" name="y1" value="" /><br />
    <label>Nhập X2</label><br />
    <input type="text" name="x2" value="" /><br />
    <label>Nhập Y2</label><br />
    <input type="text" name="y2" value="" /><br />
    <label>Nhập X3</label><br />
    <input type="text" name="x3" value="" /><br />
    <label>Nhập Y3</label><br />
    <input type="text" name="y3" value="" /><br />
    <br />
    <button type="submit">Lưu</button>
</form>
@Model.ketQua