@page
@model WebApplication1.Pages.tinhTongPhanSoModel
@{
}

<form method="post">
    <label>Nhập tử 1</label><br />
    <input type="text" name="tu1" value="" /><br />
    <label>Nhập mẫu 1</label><br />
    <input type="text" name="mau1" value="" /><br />
    <label>Nhập tử 2</label><br />
    <input type="text" name="tu2" value="" /><br />
    <label>Nhập mẫu 2</label><br />
    <input type="text" name="mau2" value="" /><br /><br />
    <button type="submit" value="Tính">Tính</button>
</form>

@Model.ketQua